/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
	transform: rotateY(180deg);
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.flip-container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.flip-container,
.front,
.back {
	width: 17rem;
	height: 15rem;
	z-index: 2;
}
@media only screen and (max-width: 768px) {
	.flip-container,
	.front,
	.back {
		width: 15rem;
		height: 13rem;
	}
}
@media only screen and (max-width: 425px) {
	.flip-container,
	.front,
	.back {
		width: 13.5rem;
		height: 11.5rem;
	}
}
@media only screen and (max-width: 320px) {
	.flip-container,
	.front,
	.back {
		width: 12rem;
		height: 10rem;
	}
}
@media only screen and (min-width: 1600px) {
	.flip-container,
	.front,
	.back {
		width: 22rem;
		height: 20rem;
	}
}

/* flip speed goes here */
.flipper {
	padding: 0;
	margin: 0;
	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
